In [12]:
import pandas as pd

# Import du dataset
df = pd.read_csv("https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/Market_retail.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8047 non-null   object
 1   Order Date     8047 non-null   object
 2   Customer Name  8047 non-null   object
 3   Country        8047 non-null   object
 4   State          8047 non-null   object
 5   City           8047 non-null   object
 6   Region         8047 non-null   object
 7   Segment        8047 non-null   object
 8   Ship Mode      8047 non-null   object
 9   Category       8047 non-null   object
 10  Sub-Category   8047 non-null   object
 11  Product Name   8047 non-null   object
 12   Discount      8047 non-null   object
 13   Sales         8047 non-null   object
 14   Profit        8047 non-null   object
 15  Quantity       8047 non-null   int64
 16  Feedback?      8047 non-null   bool
dtypes: bool(1), int64(1), object(15)
memory usage: 1013.9+ KB

In [8]:
# Vérification des doublons pour la colonne 'Order ID'
df['Order ID'].duplicated().sum()

3930

In [9]:
# Affichage des lignes avec des doublons dans la colonne 'Order ID'
doublons = df[df['Order ID'].duplicated(keep=False)]
doublons

,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
3,BN-2011-2819714,1/4/2011,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",$ 0.5,$ 27,$ -22,2,True
4,BN-2011-2819714,1/4/2011,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",$ 0.5,$ 17,$ -1,2,True
5,AZ-2011-617423,1/5/2011,Daniel Burke,France,Auvergne-Rhône-Alpes,Echirolles,Central,Home Office,Priority,Office Supplies,Art,"Binney & Smith Pencil Sharpener, Water Color",$ -,$ 90,$ 21,3,False
6,AZ-2011-617423,1/5/2011,Daniel Burke,France,Auvergne-Rhône-Alpes,Echirolles,Central,Home Office,Priority,Office Supplies,Art,"Sanford Canvas, Fluorescent",$ -,$ 207,$ 77,4,False
7,AZ-2011-2918397,1/7/2011,Fredrick Beveridge,France,Provence-Alpes-Côte d'Azur,La Seyne-sur-Mer,Central,Corporate,Priority,Furniture,Bookcases,"Bush Floating Shelf Set, Pine",$ 0.1,$ 155,$ 36,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,AZ-2014-766953,12/31/2014,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Furniture,Bookcases,"Ikea Stackable Bookrack, Traditional",$ -,$ 245,$ 91,2,True
8043,BN-2014-4140795,12/31/2014,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Art,"BIC Pencil Sharpener, Fluorescent",$ 0.5,$ 30,$ -10,2,False
8044,BN-2014-4140795,12/31/2014,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Binders,"Avery Binder Covers, Recycled",$ 0.5,$ 23,$ -6,4,True
8045,BN-2014-4140795,12/31/2014,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Technology,Machines,"StarTech Phone, Red",$ 0.5,$ 108,$ -19,3,False
8046,AZ-2014-766953,12/31/2014,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Technology,Phones,"Motorola Audio Dock, VoIP",$ -,$ 867,$ 251,5,False

On peut observer qu'une même commande peut contenir plusieurs lignes en fonction du nombre de produits différents commandés.

In [ ]:
# Identification des lignes strictement identiques
df[df.duplicated(keep=False)]

,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
2542,AZ-2012-5907386,8/29/2012,Louie Knight,Belgium,Antwerp,Mechelen,Central,Consumer,Economy,Office Supplies,Art,"Sanford Pens, Fluorescent",$ -,$ 37,$ 10,3,False
2543,AZ-2012-5907386,8/29/2012,Louie Knight,Belgium,Antwerp,Mechelen,Central,Consumer,Economy,Office Supplies,Art,"Sanford Pens, Fluorescent",$ -,$ 37,$ 10,3,False
4065,AZ-2013-5637964,6/14/2013,Cynthia Zielinski,Spain,Madrid,Madrid,South,Home Office,Economy,Office Supplies,Binders,"Wilson Jones 3-Hole Punch, Economy",$ -,$ 84,$ 28,3,True
4066,AZ-2013-5637964,6/14/2013,Cynthia Zielinski,Spain,Madrid,Madrid,South,Home Office,Economy,Office Supplies,Binders,"Wilson Jones 3-Hole Punch, Economy",$ -,$ 84,$ 28,3,True

Il y'a deux lignes strictement identiques dans le dataset que nous ne garderons pas pour notre analyse.

In [22]:
# Suppression des doublons
df = df.drop_duplicates()

Le reste des analyses sera fait sur Power BI.

In [24]:
# Export pour analyse sur Power BI
df.to_csv("market_price_retail.csv", index=False)

Changement de format des colonnes (avec utilisation des paramètres régionaux):
- `Order Date` au format `date` + création de colonnes `mois` et `année` pour ajouter des filtres
- `Country` au format `pays`
- `State` au format `région`
- `City` au format `localité`
- `Discount` au format `nombre décimal` en supprimant le $ et en changeant les valeurs vides par 0
- `Sales` au format `nombre entier` en supprimant le $ + création d'une colonne contenant le montant après remise
- `Profit` au format `nombre entier` en supprimant le $ et en changeant les valeurs vides par 0
- `Quantity` au format `nombre entier`
- `Feedback ?` au format `bon`/`mauvais`

Vérification des données :
- `Region` contient uniquement 3 valeurs (`Central`, `North` et `South`)
- `Segment` contient uniquement 3 valeurs (`Consumer`, `Corporate` et `Home Office`)
- `Ship Mode` contient uniquement 4 valeurs (`Economy`, `Economy Plus`, `Immediate` et `Priority`)
- `Category` contient uniquement 3 valeurs (`Furniture`, `Office Supplies` et `Technology`)

In [26]:
df.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'Country', 'State', 'City',
       'Region', 'Segment', 'Ship Mode', 'Category', 'Sub-Category',
       'Product Name', ' Discount ', ' Sales ', ' Profit ', 'Quantity',
       'Feedback?'],
      dtype='object')